body{
    background-color:darkblue;
    text-align: center;
    color:aliceblue;
}
.main{
    background-color:darkblue;
}
.home{
    background-color: darkcyan;
}
.gallery{
    background-color: darkviolet
}
h2{
    background-color: rgb(33, 2, 92);
}
a{
    color: greenyellow;
    background-color: rgb(43, 43, 180)
}