.main{
	margin:auto;
	width: 1080px;
}
html{
	font-family: 'Raleway', sans-serif;
	background: rgb(98, 187, 98);
}
.navbar{
	font-family: 'Teko', sans-serif;
}
.logo{
	display: inline-block;
}
.sitetitle{
	display: inline-block;
}
.title{
	font-family: 'Raleway', sans-serif;
	font-size: 5.2em;
	margin: 0;
}
.subtitle{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	margin: 0;
	display:inline-block;
}
.slidedots{
	margin-top: 10px;
	margin-bottom: 20px;
}
#menu{
	background:black;
	margin: 0;
	padding: 0;
}
#menu li{
	display: inline-block;
	text-align: center;
	padding:10px;
	list-style-type: none;
}
#menu li a{
	color: white;
	text-decoration: none;
	font-size: 25px;
}
#menu li:hover{
	background: red;
}
.footer{
	font-family: sans-serif;
	margin: 5px;
	vertical-align: text-bottom;
}

.slideshow-container {
	max-width: 600px;
	position: relative;
	margin-right: 20px;
	margin-left: 10px;
	display: inline-block;
}
.info{
	display: inline-block;
    border: 4px solid rgb(0, 0, 120);
    margin:10px;
    padding: 15px;
    width:280px;
	border-radius: 10px;
	position: absolute;
}
.mySlides {
	display: none;
}
  

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.content{
	margin-top: 10px;
	padding-bottom: 30px;
	}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
 .text {
	color: #000000;
	font-size: 15px;
	padding: 8px 12px;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
  
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.me{
	width: 330px;
	border: 3px solid rgb(32, 0, 32);
	border-radius: 10px;
}

.myimg{
	display:inline-block;
	margin: 5px
}
  
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
	background-color: #717171;
}

#aboutme{
	display:inline-block;
	position: absolute;
	padding: 8px;
	margin: 5px;
}

table{
	background: white;
	border: 1px solid #dddddd;
	text-align: left;
	margin-top: 10px;
	padding: 8px;
	width: 700px;
}
.table tr:nth-child(even){
	background: #dddddd
}

.form{
	display: inline-block;
	position: absolute;
	border: 3px solid black;
	border-radius: 7px;
	margin: 5px;
	padding: 10px;
}
.map{
	display: inline-block;
	margin: 5px;
	padding: 10px;
}

.html{
	display: inline-block;
    border: 4px solid rgb(0, 0, 120);
    margin:10px;
    padding: 15px;
    width:280px;
	border-radius: 10px;
}
.htmlimg{
	display: inline-block;
	position: absolute;
	margin:10px;
	padding: 2px;
	border: 4px solid rgb(0, 0, 120);
	border-radius: 10px;
}

.css{
	display: inline-block;
    border: 4px solid rgb(0, 0, 120);
    margin:10px;
    padding: 15px;
    width:280px;
	border-radius: 10px;
}
.cssimg{
	display: inline-block;
	position: absolute;
	margin:10px;
    padding: 10px;
	border: 4px solid rgb(0, 0, 120);
	border-radius: 10px;
}
.aboutme{
	border: 3px solid rgb(32, 0, 32);
	border-radius: 10px;
	width: 400px;
	padding: 8px;
	margin: 5px;
	display:inline-block;
	position: absolute;
}
hr{
	border-color: black;
}
ul{
	list-style-type: none; 
}
.item{
    display: inline-block;
	border: 2px solid rgb(0, 0, 75);
	
    margin:10px;
    padding: 15px;
	background-color: rgb(59, 107, 56);
	border-radius: 12px;
}
.itemname{
    text-transform: uppercase;
    text-align: left;
}
.itemprice{
    text-transform: capitalize;
    text-align: left;
}